<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <div class="container mt-5">
        <h1>Вывод числа ПИ с точностью до указанного знака</h1>

        <form action="/calc" method="post">
            <input type="text" name="calc" placeholder="Введите число, до которого необходимо округлить число Пи" class="form-control"><br>
            <button type="submit" class="btn btn-success">Вывести</button><br>
        </form>

        <p th:text="${newcalc}"/>

    </div>

</main>

<footer th:insert="~{blocks/footer :: footer}" class="pt-4 my-md-5 pt-md-5 border-top"></footer>
</body>
</html>


